---
import BaseLayout from '../layouts/BaseLayout.astro'

const posts = await Astro.glob('../pages/posts/*.md')
---
<BaseLayout>
  <p>
  I'm Simon Oswald, I like building software and go by @siosw on some parts of the internet. Currently I spend most of my time working on Zero Knowledge Proofs and Ethereum scaling solutions.
  </p>

  <h2 class="pt-4 font-bold">Posts:</h2>
  <ul class="list-['*'] list-inside">
    { posts.map(p => <li><a class="pl-2 hover:underline" href={ p.url }>{ p.frontmatter.title }</a></li>) }
  </ul>
</BaseLayout>
